.main-page {
  position: relative;
  background: linear-gradient(
    to bottom right,
    rgba(25, 56, 48, 0.8),
    rgba(25, 42, 56, 0.8)
  );
  padding: 2rem;
  width: 400px;
  height: fit-content;
  box-shadow: 0 0 20px 10px black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  @media (max-width: 1024px) {
    width: 90%;
    margin: 2rem 0;
  }

  h2 {
    color: white;
  }
}
