body {
  background-image: url("https://images.unsplash.com/photo-1539634262233-7c0b48ab9503?ixlib=rb-1.2.1&auto=format&fit=crop&w=1911&q=80");

  .change-auth-screen {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(41, 40, 40, 1));
    color: white;
    border: none;
    outline: none;
    padding: 1rem;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    box-shadow: 0 0 5px 5px black;
  }
}
